/* fuentes personalizadas */
@font-face{
  font-family:"TrebuchetMS";
  src: url(../fonts/TrebuchetMS.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family:"BebasNeue";
  src: url(../fonts/BebasNeue.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:"WebSymbolsRegular";
  src: url(../fonts/websymbols-regular-webfont.eot);
  src: url(../assets/fonts/websymbols-regular-webfont.eot?#iefix) format("embedded-opentype"),
  url(../fonts/websymbols-regular-webfont.woff) format("woff"),
  url(../assets/fonts/websymbols-regular-webfont.ttf) format("truetype")
  url(../assets/fonts/websymbols-regular-webfont.svg#WebSymbolsRegular) format("svg");
  font-weight:normal;
  font-style: normal;
}


/* Mobile first css */

/* Grid areas */
header{
  grid-area: header;
  background:#272D2D;
  font-family: "BebasNeue";
}
main{
  grid-area: main;
}
article{
  grid-area: article;
  background-color: #848C8E;
}
aside{
  grid-area: aside;
  background-color: #848C8E;
}
footer{
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #272D2D;
  grid-area: footer;
}
#banner{
  grid-area: banner;
}

/* Fin al grid areas */


/* MENU LOGO BLOG */
.contenedor-flex{
  display: flex;
  text-align: center;
  justify-content: space-between;
}

#logo{
  display: flex;
  margin: 20px;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 55px;
  color: white;
  gap: 10px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 300ms;
  border-radius: 10px;
  padding-right: 20px;
  overflow: hidden;
}

#logo h3{
  font-size: 40px;
  transition: all 300ms;
}

#logo:hover h3{
  animation: fromRight 0.7s linear;
}

@keyframes fromRight{
  from{
    transform: translateX(200%);
  }

  to{
    transform: translateX(0%);
  }
}

#logo:hover{
  border-radius: 10px;
  color: white;
}

#logo .gear{
  font-size: 40px;
  animation-name: rotate-gear;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


#logo:hover .gear{
  animation: fromBellow 0.7s linear;
}

@keyframes fromBellow{
  0%{
    transform: translateY(0%);
  }

  50%{
    transform: translateY(200%);
  }

  100%{
    transform: translateY(0%);
  }
}

/* Keyframes para crear animacion */

@keyframes rotate-gear{
  from{
    transform: rotateZ(0deg);
  }

  to{
    transform: rotateZ(360deg);
  }
}
/* Fin a la animacion de tuerca gear */

/* FIN DEL MENU LOGO BLOG */

/* Inicio del Menu Lateral */


#barra img{
  text-align: center;
  width: 40px;
  height: 40px;
  color: white;
  margin-right: 20px;
  margin-top: 8px;
  cursor: pointer;
}

/* Mobile Firts */
@media (max-width: 576px) {
  .contenedor-grid{
    display: grid;
    grid-template-areas:
    "header header"
    "main main"
    "article article"
    "footer footer";
    grid-template-rows: 100px 100px calc(100vh - 100px - 100px - 100px) 100px;
    grid-template-columns: 70% 30%;
  }

  .menu-flex{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .aside-flex{
    display: none;
  }

  #banner{
    display: none;
  }

  #menu{
    display: none;
  }
  #cards:not(:first-child){
    display: none;
  }
  .grid-layaout{
    display: grid;
    grid-template-columns: 1fr;
  }
}
/* Fin del mobile firts */

@media (min-width: 577px) {

  #barra{
    display: none;
  }
}
.menu-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Inicio de Info */
#articles{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#articles h2{
  text-align: center;
  font-family: "BebasNeue";
  font-size: 40px;
  font-weight: normal;
  letter-spacing: 2px;}
/* FIN INFO */

/* INICIO DEL Contenido principal */

#cards{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;}

  /* TARJETAS */
  .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:250px;
    height: 300px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 2px #ddd;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.582);
    cursor: pointer;
    transition: all 300ms;
  }

  .card:hover{
    background: black;
  }

.card:last-child{
  margin-right: 15px;
}

.card .icono{
  font-family: "WebSymbolsRegular";
  display: flex;
  justify-content: center;
  width: 100%;
  height: 110px;
  font-size: 50px;
  line-height: 130px;
  text-align: center;
  margin: 0px auto;
  transition: all 300ms;
}

.card:hover .icono{
  font-size: 70px;
  color: #37bcf9;
  animation: showIcon 300ms linear;
}

@keyframes showIcon{
  from{
    transform: translateY(-200%);
  }
  to{
    transform: translateY(0%);
  }
}

.card .category{
font-family: "TrebuchetMS";
font-size: 21px;
font-weight: bold;
text-align: center;
color:#00538c;
/* para que los efectos sean naturales en el hover */
transition: all 300ms;
}

.card:hover .category{
  color: white;
  animation: showCategory 400ms linear;
}

@keyframes showCategory{
  from{
    transform: translateY(-300%);
    color: black;
  }
  to{
    transform: translateY(0%);
    color: white;
  }
}

.card .description{
  text-align: center;
  color: #076caf;
  font-family: "TrebuchetMS";
  font-size: 15px;
  transition: all 300ms;
  margin: 2px;
}

.card:hover .description{
  color: white;
  animation: showDescription 400ms linear;
}

@keyframes showDescription{
  from{
    transform: translateX(-300%);
    color: black;
  }
  to{
    transform: translateX(0%);
    color: white;
  }
}



/* Inicio del footer */

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.container p{
  font-weight:500;
  color: white;
}

.icons{
  display: flex;
  justify-content: center;
  font-family: "WebSymbolsRegular";
  gap: 20px;
  margin-right: 15px;
}

.icons a{
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 30px;
  transition: all 500ms;
}

.icons :hover{
  color: #37bcf9;
  font-size: 30px;}

/* Inicio de pantallas medianas. */

@media only screen and (min-width: 577px) and (max-width: 991px){

  .contenedor-grid{
    display: grid;
    grid-template-areas:
    "header header"
    "main main"
    "article article"
    "footer footer";
    grid-template-rows: 100px 100px calc(100vh - 100px - 100px - 100px) 100px;
    grid-template-columns: 70% 30%;
  }

  .aside-flex{
    display: none;
  }

  #banner{
    display: none;
  }

  .grid-layaout{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #cards:not(:first-child):not(:nth-child(2)){
    display: none;
  }
  #menu{
    display: flex;
    gap: 14px;
    margin-right: 20px;
  }
  #menu li{
    letter-spacing: 1px;
    list-style: none;
  }

  #menu a{
  color: white;
  text-decoration: none;
  transition: all 300ms;
  font-size: 20px;
  }


  #menu a:hover{
    color: #37bcf9;
    font-size: 30px;
}}

/* Inicia pantallas grandes Desktop*/
@media only screen and (min-width: 992px){

  .contenedor-grid{
    display: grid;
    grid-template-areas:
    "header banner"
    "header article"
    "header aside"
    "footer aside";
    grid-template-columns: 250px 1fr;
    grid-template-rows: 150px 350px calc(100vh - 150px - 350px - 450px) 450px;
    background-color: #848C8E;
  }

  /* Banner */

  #banner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95.5%;
    height: 100px;
    border: 2px solid #272D2D;
    box-shadow: 0px 0px 2px gray;
    background: url(../img/banner2.jpg);
    background-position: -200px -200px;
    margin: 20px auto;
    overflow: hidden;
    animation: backBanner 10s linear;
  }

  /* Efecto fluido en el banner estilo video intro */
  @keyframes backBanner{
    0%{
      background-position: 0px 0px;
    }

    100%{
      background-position: -200px -200px;
    }
  }
  /* Efecto fluido en el banner estilo video intro */

  #banner h1{
    width: 850px;
    font-family: "BebasNeue";
    font-size: 4rem;
    color: white;
    letter-spacing: 2px;
    font-weight: normal;
    text-shadow: 2px 2px 1px black;
    animation: showText 5s linear;
    text-align: center;
  }

  @keyframes showText{
    0%{
      transform: translateX(-600%) scale(5,5);
      opacity: 1;
    }
    50%{
      transform: translateX(600%) scale(5,5);
      opacity: 1;
    }
    75%{
      transform: translateX(-600%) scale(5,5);
      text-shadow:none;
      color: transparent;
      opacity: 0;
    }
    100%{
      transform: translateX(0%) scale(1,1);
      text-shadow: 2px 2px 1px black;
      color: white;
      opacity: 1;
    }
  }


  #articles{
    display: none;
  }
    .grid-layaout{
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    }
/* INICIO MENU DESKOT */
    .contenedor-flex{
    display: flex;
    flex-direction: column;
    align-items: center;}

  #menu{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-right: 20px;
  }
  #menu li{
    letter-spacing: 1px;
    list-style: none;
  }

  #menu a{
  color: white;
  text-decoration: none;
  transition: all 300ms;
  font-size: 20px;
  }


  #menu a:hover{
    color: #37bcf9;
    font-size: 30px;}

    /* FIN DEL MENU DESKOT */

/* Articules principales inicio */

    .aside-flex{
      display: grid;
      grid-template-columns:1fr 1fr;
      justify-content: center;}


    .info{
      display: flex;
      flex-direction: column;
      border: 1px solid #ccc;
      font-family: "TrebuchetMS";
      background: rgba(255, 255, 255, 0.582);
      color: black;
      box-shadow: 1px 1px 2px #ddd;
      height: 200px;
      width: 90%;
      margin: auto;
    }
    .info h4{
      display: inline;
      font-size: 23px;
      margin: 10px;
    }

   .info h4 a{
      text-decoration: none;
      color: #00538c;
    }

    .info h4 a:hover{
      text-decoration: underline;
    }
    .data{
      display: flex;
      justify-content: end;
      background: #393d3f;
      color: white;
      border-radius: 0px 0px 0px 5px;
    }

    .data span{
    margin: 6px;
    }

    .info p{
      font-size: 15px;
      margin: 30px;
    }

    /* Fin a los articulos */

    /* Inicio footer */
footer{
  align-items: end;
}
  .container{
    justify-content: end;
    align-items: end;
    text-align: center;
  }
  /* Fin footer */

  }